In [3]:
#Packages
import pymongo
import numpy as np
import pandas as pd

In [4]:
#MongoDB Connection
conn = pymongo.MongoClient("mongodb://cindhu10:guvi2024@ac-8q7snle-shard-00-00.bw8cuhe.mongodb.net:27017,ac-8q7snle-shard-00-01.bw8cuhe.mongodb.net:27017,ac-8q7snle-shard-00-02.bw8cuhe.mongodb.net:27017/?ssl=true&replicaSet=atlas-6n6ftf-shard-0&authSource=admin&retryWrites=true&w=majority&appName=Cluster0")

In [5]:
#Database
db = conn['sample_airbnb']

In [6]:
#Collection
coll = db['listingsAndReviews']

In [7]:
result =[]
for i in coll.find({},{'_id','name','description','host_id','host_name','neighbourhood_overview','location','price',
                       'availability','amenities','rating','reviews','security_deposit','cleaning_fee','extra_people',
                       'guests_included','property_type','room_type','bed_type','cancellation_policy','reviews',
                       'review_scores','accomodates','host','bedrooms','beds','address'
                       }):
    result.append(i)

In [8]:
df = pd.DataFrame(result)

In [10]:
df[['availablity_30','availability_60','availability_90','availability_365']] = df['availability'].apply(lambda i:pd.Series([i['availability_30'],i['availability_60'],i['availability_90'],i['availability_365']]))
df[['host_id','host_name','host_response_time']]=df['host'].apply(lambda i:pd.Series([i['host_id'],i['host_name'],i.get('host_response_time',None)]))
df[['street','country','country_code','location']]=df['address'].apply(lambda i:pd.Series([i['street'],i['country'],i['country_code'],i['location']]))
df[['location_type','coordinates','is_location_exact']]=df['location'].apply(lambda i:pd.Series([i['type'],i['coordinates'],i['is_location_exact']]))
df[['latitude','longitude']] = df['coordinates'].apply(lambda i:pd.Series([i[0],i[1]]))
df['average_rating'] = df['review_scores'].apply(lambda i: np.mean([i.get('review_scores_accuracy', 0), i.get('review_scores_cleanliness', 0), i.get('review_scores_checkin', 0), i.get('review_scores_communication', 0), i.get('review_scores_location', 0), i.get('review_scores_value', 0)]))

In [11]:
df.drop('availability',axis = 1,inplace = True)
df.drop('review_scores',axis = 1,inplace = True)
df.drop('host',axis = 1,inplace = True)
df.drop('address',axis = 1,inplace = True)
df.drop('location',axis = 1,inplace = True)
df.drop('coordinates',axis = 1, inplace = True)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5555 entries, 0 to 5554
Data columns (total 31 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   _id                  5555 non-null   object
 1   name                 5555 non-null   object
 2   description          5555 non-null   object
 3   property_type        5555 non-null   object
 4   room_type            5555 non-null   object
 5   bed_type             5555 non-null   object
 6   cancellation_policy  5555 non-null   object
 7   bedrooms             5550 non-null   float64
 8   beds                 5542 non-null   float64
 9   amenities            5555 non-null   object
 10  price                5555 non-null   object
 11  security_deposit     3471 non-null   object
 12  cleaning_fee         4024 non-null   object
 13  extra_people         5555 non-null   object
 14  guests_included      5555 non-null   object
 15  reviews              5555 non-null   object
 16  availablity_30       5555 non-null   int64
 17  availability_60      5555 non-null   int64
 18  availability_90      5555 non-null   int64
 19  availability_365     5555 non-null   int64
 20  host_id              5555 non-null   object
 21  host_name            5555 non-null   object
 22  host_response_time   4167 non-null   object
 23  street               5555 non-null   object
 24  country              5555 non-null   object
 25  country_code         5555 non-null   object
 26  location_type        5555 non-null   object
 27  is_location_exact    5555 non-null   bool
 28  latitude             5555 non-null   float64
 29  longitude            5555 non-null   float64
 30  average_rating       5555 non-null   float64
dtypes: bool(1), float64(5), int64(4), object(21)
memory usage: 1.3+ MB

In [13]:
df.isnull().sum()

_id                       0
name                      0
description               0
property_type             0
room_type                 0
bed_type                  0
cancellation_policy       0
bedrooms                  5
beds                     13
amenities                 0
price                     0
security_deposit       2084
cleaning_fee           1531
extra_people              0
guests_included           0
reviews                   0
availablity_30            0
availability_60           0
availability_90           0
availability_365          0
host_id                   0
host_name                 0
host_response_time     1388
street                    0
country                   0
country_code              0
location_type             0
is_location_exact         0
latitude                  0
longitude                 0
average_rating            0
dtype: int64

In [14]:
df.shape

(5555, 31)

In [15]:
df.size

172205

In [16]:
df['bedrooms'].fillna(0, inplace=True)
df['beds'].fillna(0, inplace=True)
df['cleaning_fee'].fillna('Not Specified', inplace=True)
df['security_deposit'].fillna('Not Specified',inplace = True)
df['host_response_time'].fillna('Not Specified',inplace = True)
df['is_location_exact'] = df['is_location_exact'].map({False:'No',True:'Yes'})
df['average_rating']=df['average_rating'].replace(0,'Unrated')

C:\Users\Admin\AppData\Local\Temp\ipykernel_15440\3821386497.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['bedrooms'].fillna(0, inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_15440\3821386497.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['beds'].fillna(0, inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_15440\3821386497.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['cleaning_fee'].fillna('Not Specified', inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_15440\3821386497.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['security_deposit'].fillna('Not Specified',inplace = True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_15440\3821386497.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['host_response_time'].fillna('Not Specified',inplace = True)

In [17]:
df.head()

,_id,name,description,property_type,room_type,bed_type,cancellation_policy,bedrooms,beds,amenities,...,host_name,host_response_time,street,country,country_code,location_type,is_location_exact,latitude,longitude,average_rating
0,10006546,Ribeira Charming Duplex,Fantastic duplex apartment with three bedrooms...,House,Entire home/apt,Real Bed,moderate,3.0,5.0,"[TV, Cable TV, Wifi, Kitchen, Paid parking off...",...,Ana&Gonçalo,within an hour,"Porto, Porto, Portugal",Portugal,PT,Point,No,-8.613080,41.141300,9.5
1,10009999,Horto flat with small garden,One bedroom + sofa-bed in quiet and bucolic ne...,Apartment,Entire home/apt,Real Bed,flexible,1.0,2.0,"[Wifi, Wheelchair accessible, Kitchen, Free pa...",...,Ynaie,Not Specified,"Rio de Janeiro, Rio de Janeiro, Brazil",Brazil,BR,Point,Yes,-43.230750,-22.966254,Unrated
2,1001265,Ocean View Waikiki Marina w/prkg,A short distance from Honolulu's billion dolla...,Condominium,Entire home/apt,Real Bed,strict_14_with_grace_period,1.0,1.0,"[TV, Cable TV, Wifi, Air conditioning, Pool, K...",...,David,within an hour,"Honolulu, HI, United States",United States,US,Point,Yes,-157.839190,21.286340,9.0
3,10021707,Private Room in Bushwick,Here exists a very cozy room for rent in a sha...,Apartment,Private room,Real Bed,flexible,1.0,1.0,"[Internet, Wifi, Air conditioning, Kitchen, Bu...",...,Josh,Not Specified,"Brooklyn, NY, United States",United States,US,Point,Yes,-73.936150,40.697910,9.333333
4,10030955,Apt Linda Vista Lagoa - Rio,Quarto com vista para a Lagoa Rodrigo de Freit...,Apartment,Private room,Real Bed,flexible,1.0,1.0,"[TV, Cable TV, Internet, Wifi, Air conditionin...",...,Livia,Not Specified,"Rio de Janeiro, Rio de Janeiro, Brazil",Brazil,BR,Point,Yes,-43.205047,-22.971951,Unrated

In [18]:
df.to_csv('airbnb.csv', index=False)